.myFooter {
  text-align: center;
  font-size: 20px;
  height: 10vh;
  background: lightgrey;
  padding: 3vh;
}

.myFooter > span {
  color: red;
  padding: 0px 2px;
  animation: beat 1.5s ease-in-out infinite;
}

@keyframes beat {
  50% {
    transform: scale(1.2);
    text-shadow: 1px 1px 3px #2c2c2c;
  }
}

.myFooter > a {
  text-decoration: none;
}